/month1/week1/mavenproject1/target/
/month1/week1/day2/mavenproject2/target/
/month1/week1/day3/mavenproject3/target/
/month1/week1/day4/mavenproject4/target/
/month1/week1/day5/mavenproject5/target/
/month1/week1/day6/mavenproject6/target/
/month1/week2/day1/mavenproject1/target/
/month1/week2/day1/Main/target/
/month1/week3/day1/Main/target/
/month1/week3/day2/Main/target/
/month1/week3/day3/FunctionalInterface/target/
/month1/week3/day4/Main/target/
