<!doctype html>
<html lang="en" xmlns:th="www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam officia ab ut earum nam officiis velit aspernatur quam necessitatibus obcaecati natus eligendi nesciunt vero delectus, sit itaque explicabo! Deserunt ratione doloribus libero ea delectus exercitationem rerum, iste voluptas ex minima ipsum fugit consequatur consequuntur reiciendis quis quod vero blanditiis temporibus laborum laudantium officia sed non provident. Inventore modi eum, ex praesentium aliquam distinctio fugiat non obcaecati perferendis, tenetur dolorem, vel enim vitae. Id exercitationem eos quam labore nemo dolorum neque dolorem possimus nostrum eligendi aliquam, vero harum porro quaerat officia nam ipsum natus repellat tempora numquam cupiditate recusandae iste repudiandae.</p>
</body>
</html>